.label-buttons-container {
  position: absolute;
  top: -10px;
  right: -10px;

  display: flex;
  gap: 8px;
  align-items: center;

  min-width: 160px;

  transform-origin: right center;
  justify-content: flex-end;

  pointer-events: auto;
}

.label-button {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0;

  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
}

.label-button svg {
  width: 65%;
  height: 65%;
  opacity: 50%;
  color: white;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
}


// Styling for the labels on the side of the video card
// Based on https://freefrontend.com/css-paper-effects/

fieldset {
	--gap: 9px;
	position: absolute;
	top: calc(20px - var(--gap));
	right: -5px;
	border: none;
	margin: -4px;
	padding: 0;
	width: 30px;

	legend {
		position: absolute;
		inset: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
	}

	input {
		position: absolute;
		opacity: 0;
		pointer-events: 0;
	}

	.label-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;

		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
		transform-origin: center;
		transform: translate(-50%, -50%) scaleX(1);

		color:white;
		opacity: 55%;

		filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
	}

	label {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		font-size: 0;
		cursor: pointer;

		&:hover:before {
			transform: translate(0, 0) scaleX(1.25);
			filter: brightness(100%);
		}

		&:before {
			content: "";
			margin: var(--gap) 0;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			border-bottom-left-radius: 2px;
			position: relative;
			display: block;
			width: 30px;
			height: 30px;
			background: var(--bg-color);
			transform: translate(0, 0) scaleX(1);
			transform-origin: left center;
			filter: brightness(90%);
			transition-property: transform filter;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
			box-shadow: -2px 1px 3px rgba(0 0 0 / 0.2);
		}

		&:after {
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			width: 0;
			height: 0;
			border-top: 5px solid var(--bg-color);
			border-right: 7px solid transparent;
			border-left: 0px solid transparent;
			border-bottom: 5px solid transparent;
			filter: brightness(62%);
			transition-property: border-right filter;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);

			transform: translate(0, 0) scaleX(1);
			transform-origin: left;
		}

		&:hover:after {
			transform: translate(5px, 0) scaleX(1.25);
			border-right: 12px solid transparent;
		}
	}

	input:checked + label .label-icon,
	label:hover .label-icon {
		transform: translate(-35%, -50%) scale(1.25);
	}

	input:checked + label,
	input:focus + label {
		&:before {
			transform: translate(0, 0) scaleX(1.25);
			filter: brightness(100%);
		}

		&:after {
			border-right: 12px solid transparent;
			transform: translate(5px, 0) scaleX(1.25);
			filter: brightness(50%);
		}
	}

	label.love {
		--bg-color: var(--color-love);
	}

	label.star {
		--bg-color: var(--color-star);
	}

	label.x {
		--bg-color: var(--color-x);
	}
}