.label-button {
  width: 40px;
  height: 40px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  padding: 0;

  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
}

.label-button svg {
  width: 65%;
  height: 65%;
  opacity: 50%;
  color: white;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
}

.label-tabs.horizontal {
	position: relative;
}

// Styling for the labels on the side of the video card
// Based on https://freefrontend.com/css-paper-effects/

.label-tabs {

	.label-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;

		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
		transform-origin: center;
		transform: translate(-50%, -50%) scaleX(1);

		color:white;
		opacity: 55%;

		filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, .2));
	}

	.label-selector-button {
		position: relative;
		display: block;
		width: 30px;
		height: 30px;
		font-size: 0;
		cursor: pointer;
		margin-top: 8px;

		appearance: none;
		border: none;
		background: transparent;
		padding: 0;

		&:hover:before {
			filter: brightness(100%);
		}

		&:before {
			content: "";
			top: -8px;
			margin: var(--gap) 0;
			border-top-left-radius: 2px;
			border-top-right-radius: 2px;
			border-bottom-left-radius: 2px;
			position: relative;
			display: block;
			width: 30px;
			height: 30px;
			background: var(--bg-color);
			filter: brightness(90%);
			transition-property: transform filter;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
			box-shadow: -2px 1px 3px rgba(0 0 0 / 0.2);
		}

		&:after {
			content: "";
			position: absolute;
			top: 100%;
			right: 0;
			width: 0;
			height: 0;
			border-top: 5px solid var(--bg-color);
			border-right: 7px solid transparent;
			border-left: 0px solid transparent;
			border-bottom: 5px solid transparent;
			filter: brightness(62%);
			transition-property: transform filter border-right;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
		}

		&:hover:after {
			border-right: 12px solid transparent;
		}
	}

	.label-selector-button.active .label-icon,
	.label-selector-button:hover .label-icon {
		transform: translate(-35%, -50%) scale(1.25);
	}

	.label-selector-button.active {
		&:before {
			filter: brightness(100%);
		}

		&:after {
			filter: brightness(50%);
		}
	}

	.label-selector-button.love {
		--bg-color: var(--color-love);
	}

	.label-selector-button.star {
		--bg-color: var(--color-star);
	}

	.label-selector-button.x {
		--bg-color: var(--color-x);
	}
}

.label-tabs.vertical {
	--gap: 9px;
	border: none;
	margin: -4px;
	padding: 0;
	width: 30px;
	transform: translateX(10px);
	z-index: 1000;

	.label-selector-button {

		&:hover:before {
			transform: translate(0, 0) scaleX(1.25);
		}

		&:before {
			transform: translate(0, 0) scaleX(1);
			transform-origin: left center;
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
		}

		&:after {
			transition-duration: 0.2s;
			transition-timing-function: cubic-bezier(1, 1, 0.5, 1.3333);
			transform: translate(0, 0) scaleX(1);
			transform-origin: left;
		}

		&:hover:after {
			transform: translate(5px, 0) scaleX(1.25);
			border-right: 12px solid transparent;
		}
	}

	.label-selector-button.active .label-icon,
	.label-selector-button:hover .label-icon {
		transform: translate(-35%, -50%) scale(1.25);
	}

	.label-selector-button.active {
		&:before {
			transform: translate(0, 0) scaleX(1.25);
		}

		&:after {
			border-right: 12px solid transparent;
			transform: translate(5px, 0) scaleX(1.25);
		}
	}
}

// Styling for the labels on the side of the video card
// Based on https://freefrontend.com/css-paper-effects/

.label-tabs.horizontal {
	--gap: 8px;
	display: flex;
	flex-direction: row;
	gap: var(--gap);
	align-items: flex-start;
	position: relative;

	.label-selector-button {

		&:hover:before {
			transform: translate(0, 0) scaleY(1.25);
		}

		&:hover:after {
			transform: translate(0px, 5px) scaleY(1.25);
			border-right: 12px solid transparent;
		}
	}

	.label-selector-button.active .label-icon,
	.label-selector-button:hover .label-icon {
		transform: translate(-50%, -65%) scale(1.25);
	}

	.label-selector-button.active {
		&:before {
			transform: translate(0, -4px) scaleY(1.25);
		}

		&:after {
			border-right: 12px solid transparent;
			transform: translate(0px, 1px) scaleY(1.25);
		}
	}
}