main {
  padding: 2rem;
}

.creator-info {
  align-items: center;
  gap: 1rem;
  width: 200px;
  flex: 0 0 200px;
  padding: 12px;
}

.creator-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.creator-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
}

.video-strip {
  flex: 1;

  display: flex;
  gap: 1rem;

  overflow-x: auto;
  overflow-y: hidden;

  white-space: nowrap;
}

.video-card {
  flex: 0 0 300px;
  text-decoration: none;
  color: #d0d0d0;
  border: none;
  background: none;
  font-size: 14px;
}

.video-card img {
  width: 100%;
  display: block;
  border-radius: 8px;
  padding-bottom: 6px;
}