.nav-bar {
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;

  padding: 18px 28px;

  background: var(--color-background-navbar);
  border-bottom: 1px solid rgba(0,0,0,.08);
  box-shadow:0 3px 12px rgba(0,0,0,.06);

  z-index: 100;
}

.nav-bar::after {
  content: "";

  position: absolute;
  left: 0;
  right: 0;
  bottom: -18px;
  height: 20px;
}

.nav-bar .buttons-bar {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}



.nav-bar a {
  background: #fffdf9;
  border-radius: 6px;
  padding: .6rem 1rem;
  transition: .15s;
  text-decoration: none;
  border: none;
  font-size: 16px;
  color: var(--color-text);
}

.nav-bar a:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
}

.buttons-bar a.active  {
  color:white;
  font-weight: 600;
  background-color: var(--color-accent);
}