.tooltip-trigger {
  position: absolute;
  inset: 0;
}

.tooltip-container {
  position: absolute;

  left: calc(100% + 16px);
  top: 50%;
  transform: translateY(-50%);

  padding: 4px;

  background: white;
  color: black;

  border-radius: 2px;

  box-shadow: 0 6px 18px rgba(0,0,0,.25);

  font-size: 14px;
  line-height: 1.2;
  
  min-width: 100px;
  max-width: 200px;

  z-index: 1000;

  pointer-events: none;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 150ms ease;
}

.tooltip-trigger:hover .tooltip-container {
  opacity: 1;
  visibility: visible;
}