.nav-bar {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.nav-bar .buttons-bar {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.nav-bar button {
  background: none;
  border: none;
  font-size: 16px;
}