/* theme.css */

:root {
  --color-background: #121212;
  --color-surface: #1e1e1e;

  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;

  --color-text: #ffffff;
  --color-text-muted: #a1a1aa;

  --color-border: #2d2d2d;

  --color-success: #22c55e;
  --color-danger: #ef4444;
}

[data-theme="dark"] {
  --color-background: #121212;
  --color-surface: #1e1e1e;

  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;

  --color-text: #ffffff;
  --color-text-muted: #a1a1aa;

  --color-border: #2d2d2d;

  --color-success: #22c55e;
  --color-danger: #ef4444;
}